* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

#heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    animation: slide 0.5s ease-in-out forwards;
}

#heading-text span{
    text-decoration: underline;
}

ul {
    list-style: none;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.image-gallery > li {
    flex-basis: 170px;
    position: relative;
    cursor: pointer;
}

.image-gallery::after {
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}
.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    visibility: hidden;
    animation: slide 0.5s ease forwards;
}
@keyframes slide {
    0% {
        transform: translateY(50px);
        filter: blur(4px);
        visibility: hidden;
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        filter: blur(0);
        visibility: visible;
        opacity: 1;
    }
}
#gradient{
    height: 100%;
    min-height: 100vh;
    transition: background-position 1.5s ease;
}

#result, #result1 {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;

}
#result{
    visibility: hidden;
    margin-top: 50px;
}
#result1{
    visibility: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-50px);
        visibility: hidden;
        filter: blur(1px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        visibility: visible;
        filter: blur(0px);
        opacity: 1;
    }
}